.container{
    max-width:1300px;
    background-color: #fff
}

.anchor {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: #8a8d91;
}

.copyright {
  text-align: center;
  color: #8a8d91;
}
